# History files
.Rhistory
.Rapp.history

# Session Data files
.RData

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
/*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# Shiny token, see https://shiny.rstudio.com/articles/shinyapps.html
rsconnect/

# Files to ignore
Archived/
Documents/
Data/delete/
Figures_delete/
Drontiers
eDriversMSv1.Rmd
eDriversMSv2.Rmd
Data/aswMean.RData
Data/aswMean2.RData
Data/aswMedoid.RData
Data/kmeans.RData
Data/kmedoid.RData
Data/wssMean.RData
Data/wssMedoid.RData
Data/k.RData
Data/clMean.RData
Data/clMed.RData
Data/bootSimper.RData
Data/simperMean.RData
Data/intraSimilarity.RData
Data/similarityMean.RData
Code/exploKernelCor.R
Revisions/AuthorComments/

#iOS file
.DS_Store

# Other files
*.tex
*.pdf
